* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.header-container {
    margin-top: 2rem;
}

.content-container {
    margin-top: 6rem;
    background-color: white;
    display: inline-block;
    width: 100%;
    min-height: 40rem;
}

.footer-container {
    margin: 1rem;
}

.bold {
    font-weight: bold !important;
}

.pointer {
    cursor: pointer;
}