* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.header-container {
    margin-top: 2rem;
}

body {
    background-image: url(./../img/bg.jpg);
    background-size: cover;
}

.content-container {
    margin-top: 6rem;
    margin-bottom: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.footer-container {
    margin: 0rem;
}

.bold {
    font-weight: bold !important;
}

.pointer {
    cursor: pointer;
}